# Jekyll specific
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler dependencies
/vendor/bundle/
/vendor/cache/
/vendor/gems/
/vendor/ruby/

# VS Code specific
.vscode/

# Logs and databases
*.log
*.sql
*.sqlite

# Temporary files
**/*.swp
**/*.swo
*.DS_Store
